body {
    font-family: 'Montserrat', 'Segoe UI', 'Tahoma', sans-serif;
    margin: 0;
}

::selection {
    color: #ffffff;
    background: #000000;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: #ffffff;
    background: #000000;
    /* Gecko Browsers */
}

li,
a,
button {
    font-weight: bold;
    font-size: 4vw;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
}

.logo {
    font-size: 4vw;
    cursor: pointer;
    font-weight: bold;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {}

button .no {
    font-family: inherit;
    font-size: 14pt;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: transparent;
    border: none;
    color: #000000;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.25s ease-in-out 0s;
}

button.action:hover {
    background-color: #000000;
    color: #ffffff;
}

.hero {
    height: 100%;
    width: auto;
    padding: 2vh 10%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "art art""header header";
}

.hero-header {
    justify-self: left;
    grid-area: header;
}

.hero-text {
    font-weight: 800;
    font-size: 5vw;
    padding-bottom: 40px;
}

.hero-art {
    padding-bottom: 20px;
    grid-area: art;
    justify-self: center;
}

.hero-art img {
    width: 55vw;
    justify-self: inherit;
}

.primaryFeature {
    padding-top: 5%;
}

#btnWrap {
    
}

section {
    padding: 10px 0;
}

section.split {
    background: #1d1d1d;
    color: #ffffff;
    padding: 4vh 0;
    margin: 15% 0;  
}

section.split p {
    text-align: center;
}

p.splitHead {
    font-size: 2.2em;
    font-weight: bold;
}

p.splitText {
    font-family: monospace;
    font-size: 1.2em;
}

.gridContainer {
    padding: 2vh 8%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "text text"
        "img img";
    justify-items: left;
}

.featureText {
    font-size: 1.2em;
    grid-area: text;
    padding: 0 2vw;
}

.featureImage {
    margin-top: auto;
    margin-bottom: auto;
    grid-area: img;

}


#lastSection {
    padding-bottom: 20vh;
}

.featureImage img,
.featureImage iframe,
.featureImage video {
    width: 80vw;
  
    box-shadow:
        0 2.2px 2.8px -8px rgba(0, 0, 0, 0.03),
        0 5.4px 6.7px -8px rgba(0, 0, 0, 0.041),
        0 10.1px 12.5px -8px rgba(0, 0, 0, 0.049),
        0 18.1px 22.3px -8px rgba(0, 0, 0, 0.056),
        0 33.8px 41.8px -8px rgba(0, 0, 0, 0.066),
        0 81px 100px -8px rgba(0, 0, 0, 0.09);
}

.featureImage img,
.featureImage iframe{
    border-radius: 5px;
}

.featureImage iframe {
    height: 50vw;
}

.mainFeatureText {
    max-width: 600px;
}

.mainFeatureTitle {
    font-size: 2em;
    font-weight: 800;
}

.nav .toggle {
    flex: 0;
}

@media only screen and (min-width: 900px) {
    .hero {
        padding: 10vh 10%;
        grid-template-areas: "header header art art";
    }

    .gridContainer {
        grid-template-areas: "text img";
    }

    .hero-art {
        padding-bottom: 0;
    }

    .hero-header {
        align-self: center;
    }

    .hero-text {
        font-size: 2.6vw;
    }

    .hero-art img {
        width: 30vw;
    }

    .logo a {
        font-size: 2vw;
    }

    .featureImage img,
    .featureImage video {
        width: 35vw;
    }

    .featureImage iframe {
        width: 40vw;
        height: 45vh;
    }
}